{% extends 'apli/base.html' %}
{% block title %}Add a Client{% endblock %}
{% block contacts_active %}active{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-8">
			    <p><h1 class="container "> Neuer Kunde erstellen </h1></p>
			    <br>
				<div class="">
					<div class="panel-body container">

						<form class="form-horizontal container" action="" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							{% include 'apli/form-template.html' %}
							<div class="form-group ">
								<div class="col-sm-offset-2 col-md-3">
									<button type="submit" class="btn btn-dm col-md-5 btn-success">Submit</button>
								    <a href="{% url 'index_contact' %}" <button type="button" class="btn btn-warning btn-md pull-right" data-dismiss="modal" >Stornieren</a>
								</div>

							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}