{% extends 'apli/base.html' %}

{% block body %}

        <div class="container">
            <h1><small>Projekt:</small> {{project.nombre}}</h1>
        </div>

        <!-- BOTONES PARA EDITAR ELIMINAR VENTANAS DESPEGABLES -->
        <!-- EDITAR -->

            <div class="container  modal-header">
                <div class="row">

                                            <a href="{}" <button type="submit" class="btn btn-success btn-xs glyphicon glyphicon-pencil col-md-offset-10" data-toggle="modal"></a>
        <!-- ELIMIMINAR -->

                                            <a href="{}" <button type="submit" class="btn btn-danger btn-xs glyphicon glyphicon-trash col-md" data-toggle="modal"></a>
        <!-- Imprimir -->

                                            <a href="{}" <button type="submit" class="btn btn-info btn-xs glyphicon glyphicon-print col-md" data-toggle="modal"></a>
        <!-- CREAR PDF -->

                                            <a href="{% url 'pdf_rechnung' project.id %}" <button type="submit" class="btn btn-warning btn-xs glyphicon glyphicon-file col-md" data-toggle="modal"></a>
                </div>
            </div>


        <!-- INFORMACION DE CLIENTE  -->

        <div class= "container">
            <br>
                <div class="row">
                        <div class="container col-md-4">
                            <h4><b>Kunde:</b> {{project.client}}</h4>
                        </div>

                        <div class="container  col-md-4">
                            <h4><b>Date:</b> {{project.fecha_creacion}}</h4>
                        </div>

                        <div class="container  col-md-4">
                            <h4><b>Preis (€):</b> <!--{{project.fecha_creacion}}-->985458</h4>
                        </div>
                </div>
            <br>
                <div class="row">
                    <div class="container  col-md-4">
                        <h4><b>Typ projekt:</b> 696969</h4>
                    </div>

                    <div class="container  col-md-4">
                        <h4><b>Verantwortliche:</b> {{project.comment}}</h4>
                    </div>

                    <div class="container  col-md-4">
                        <h4><b>Archivzettel:</b> {{project.comment}}</h4>
                    </div>
                </div>
            <br>
                <div class="row">
                    <div class="container  col-md-4">
                        <h4><b>Notiz: </b> {{project.comment}}</h4>
                    </div>

                 <div class="row modal-header">

                </div>
        </div>

         <br>

        <!-- TABLA de Modelos relacionados a projecto   -->
                <div class="container">
                        <br>
                            <div class="panel panel-warning">
                                <div class="panel-heading"><h3>Modelle das haben mit die Projekt gearbeitet</h3></div>
                                    <div class="panel-body">
          <!-- % if all_clients % -->
                                        <div class="table-responsive">
                                            <table class="table table-hover ">
                                                <tr class="active table-bordered">
                                                    <th > Name</th>
                                                    <th> Telefonnummer</th>
                                                    <th> Email</th>
                                                    <th> Status</th>
                                                    <th> Card</th>

                                                </tr>
         <!-- % for client in all_clients % -->
                                                <tr>
                                                    <td>Ismael Soruco</td>
                                                    <td><a href="tel:{{ client.telephone }}">{{client.telephone}}</a></td>
                                                    <td><a href="mailto:{{ client.email }}">{{client.email}}</a></td>
                                                    <td>Aktive</td>
                                                    <td>OK</td>
                                                </tr>
           <!--% endfor % -->
                                            </table>
                                        </div>

         <!-- % else % -->
        <!--  <p> Keine Projekte </p> -->
        <!--  % endif % -->

                                    </div>
                            </div>
                    </div>

<!-- PANEL con TABLA de TAREAS relacionados con PROYECTO -->
        <div class="container">
            <br>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Aufgaben von Projekt </h3>
                </div>
                <div class="panel-body">
                   <!-- % if all_projects %-->
                        <div class="table-responsive">
                            <table class="table table-hover  ">
                                <tr class="active table-bordered">
                                    <th>Task</th>
                                    <th>When</th>
                                    <th>Who</th>
                                    <th>Status</th>
                                    <th>Notiz</th>
                                </tr>
                                <!--% for project in all_projects %-->
                                    <tr>
                                        <td><a href="{% url 'detail_project' project.id %}">{{project.nombre}}</a></td>
                                        <td>20.07.2017</a></td>
                                        <td>{{project.fecha_creacion}}</td>
                                        <td>OK</td>
                                        <td>{{project.comment}}</td>
                                    </tr>
                                <!--% endfor %-->
                            </table>
                        </div>
                   <!-- % else %-->
                         <!-- <p> Keine Projekte </p>-->
                   <!-- % endif %-->
                </div>
            </div>
        </div>



<!-- TABLA de COSTOS relacionados a projecto   -->
        <div class="container">
                        <br>
                            <div class="panel panel-success">
                                <div class="panel-heading"><h3>Modelle das haben mit die Projekt gearbeitet</h3></div>
                                    <div class="panel-body">
          <!-- % if all_clients % -->
                                        <div class="table-responsive">
                                            <table class="table table-hover ">
                                                <tr class="active table-bordered">
                                                    <th > What</th>
                                                    <th> cost</th>
                                                    <th> who pay</th>
                                                    <th> When</th>
                                                    <th> Coments</th>

                                                </tr>
         <!-- % for client in all_clients % -->
                                                <tr>
                                                    <td>Ismael Soruco</td>
                                                    <td><a href="tel:{{ client.telephone }}">{{client.telephone}}</a></td>
                                                    <td><a href="mailto:{{ client.email }}">{{client.email}}</a></td>
                                                    <td>Aktive</td>
                                                    <td>OK</td>
                                                </tr>
           <!--% endfor % -->
                                            </table>
                                        </div>

         <!-- % else % -->
        <!--  <p> Keine Projekte </p> -->
        <!--  % endif % -->

                                    </div>
                            </div>
                    </div>

{% endblock %}
