{% extends 'apli/base.html' %}
{% block title %}Contacts{% endblock %}
{% block clients_active %}active{% endblock %}

{% block body %}
    <div class="container">
        <h1><small>Kunde/in:</small> {{client.name}}</h1>
    </div>

    <!-- BOTONES PARA EDITAR ELIMINAR VENTANAS DESPEGABLES -->
    <div class="container  modal-header">
        <div class="row">
            <!-- EDITAR -->
            <a href="{% url 'client_update' client.id %}" <button type="submit" class="btn btn-success btn-xs glyphicon glyphicon-pencil col-md-offset-10" data-toggle="modal"></a>

            <!-- ELIMIMINAR -->
            <a href="{% url 'client_delete' client.id %}" <button type="submit" class="btn btn-danger btn-xs glyphicon glyphicon-trash col-md" data-toggle="modal"></a>

            <!-- CREAR PDF -->
            <a href="#ventana3" <button type="submit" class="btn btn-warning btn-xs glyphicon glyphicon-file col-md" data-toggle="modal"></a>
        </div>
    </div>

    <!-- INFORMACION DE CLIENTE  -->
    <div class= "container">
        <br>
        <div class="row">
            <div class="container col-md-4">
                <h4><b>Firma:</b> {{client.company}}</h4>
            </div>
            <div class="container col-md-4">
                <h4><b>Telefonummer:</b> <a href="tel:{{ client.phone }}">{{client.phone}}</a></h4>
            </div>
            <div class="container  col-md-4">
                <h4><b>Email:</b> <a href="mailto:{{ client.email }}">{{client.email}}</a></h4>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="container col-md-4">
                <h4><b>Kunde/in Suchename:</b> {{client.name_short}}</h4>
            </div>
            <div class="container  col-md-4">
                <h4><b>Firma Suchename:</b> {{client.company_short}}</h4>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="container  col-md-4">
                <h3 class="form-control-static"><b>Adresse</b> </h3>
            </div>

            <div class="container  col-md-4">
                <h4 class="form-control-static" ><b>Land:</b> {{client.country}}</h4>
             </div>

            <div class="container  col-md-4">
                <h4 class="form-control-static"><b>Stadt:</b> {{client.city}}
            </div>

            </h4><div class="container  col-md-4">
                <h4 class="form-control-static"><b>Straße:</b> {{client.address}}
            </div>
        </div>
        <div class="row">
            <div class="container  col-md-8">
                <h4 class="form-control-static"><b> Notiz:</b>{{client.comment}} </h4>
            </div>
        </div>
    </div>
    <div class="row modal-header"></div>
    <br>

    <!-- PANEL con TABLA de PROYECTOS relacionados con cliente  -->
    <br>
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>Projekte vom   {{client.nombre_completo}}</h3>
            </div>
            <div class="panel-body">
                {% if all_projects %}
                    <div class="table-responsive">
                        <table class="table table-hover  ">
                            <tr class="active table-bordered">
                                <th>Projektname</th>
                                <th>Price</th>
                                <th>Datum Start</th>
                                <th>Datum Finish</th>
                                <th>Status</th>
                                <th>Notiz</th>
                            </tr>
                            {% for project in all_projects %}
                                <tr>
                                    <td><a href="{% url 'detail_project' project.id %}"><p class="form-control-static">{{project.name}}<p></a></td>
                                    <td><a><p class="form-control-static">{{project.total_price}}<p></a></td>
                                    <td><p class="form-control-static">{{project.start}}<p></td>
                                    <td><p class="form-control-static">{{project.finish}}<p></td>
                                    <td><p class="form-control-static">{{project.statut}}<p></td>
                                    <td><p class="form-control-static">{{project.comment}}<p></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <p> Keine Projekte </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
